.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('images/Pametni_paketnik_image1.jpg');
    background-size: cover;
}
  
  .content-container {
    flex-grow: 1;
    padding-top: 60px; /* Adjust the value to match the height of your header */
  }
  