@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.parcel-history {
    background: #e0e0e0;
    width: 600px;
    padding: 45px;
    border-radius: 50px;
    margin: 45px auto;
    box-shadow: -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
    font-family: 'Comfortaa', cursive;
}


.title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 25px;
}

.history-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.history-item {
    background: #d0d0d0;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 14px;
}

.date {
    font-weight: bold;
    color: rgba(4, 56, 164, 0.6);
}

.open {
    font-weight: bold;
    margin-top: 5px;
}

.success {
    color: #008000;
}

.failure {
    color: #FF0000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    padding: 10px;
    background-color: #c4c4c4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
